.flag {
    width: 20em;
    height: 14em;
    background: #fff;
    position: relative;
    top: 0;
    left: 0;
    font-size: 30px;
    margin: auto;
    border: 1px solid #d3d3d3;
}

.sun{
    width: 7em;
    height: 7em;
    background-color: red;
    margin: auto;
    margin-top: 3em;
    border-radius: 50%;
}