#flag {
    width: 20em;
    height: 14em;
    background-color: #cd3d2e;
    position: relative;
    top: 0;
    left: 0;
    font-size: 30px;
    margin: auto;
    border: 1px solid #d3d3d3;
}

#flag .blue {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#flag .blue:before,
#flag .blue:after {
    position: absolute;
    content: '';
    background-color: #34495e;
}

#flag .blue:before {
    bottom: 0;
    left: 3em;
    width: 1.5em;
    height: 100%;
}

#flag .blue:after {
    top: 50%;
    right: 0;
    width: 100%;
    height: 1.5em;
    transform: translateY(-50%);
}

#flag .white {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#flag .white:before,
#flag .white:after {
    position: absolute;
    content: '';
    background-color: #fff;
}

#flag .white:before {
    bottom: 0;
    left: 2.2em;
    width: 3em;
    height: 100%;
}

#flag .white:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 3em;
    transform: translateY(-50%);
}